
SECRET_KEY=django-insecure-замени-на-свой-секретный-ключ
DEBUG=True
ALLOWED_HOSTS=*

# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=aura_db
# DB_USER=aura_user
# DB_PASSWORD=
# DB_HOST=localhost
# DB_PORT=5432

MEDIA_URL=/media/
STATIC_URL=/static/
TIME_ZONE=Asia/Bishkek
